__NOTOC__
{{Infobox/begin | ${name} | ${nickname}.png }}
{{Infobox | Technology | ${technology} }}
{{Infobox | Hull Damage | ${hull_damage} }}
{{Infobox | Shield Damage | ${shield_damage} }}
{{Infobox | Hull Damage/s | ${hull_damage_s} }}
{{Infobox | Shield Damage/s | ${shield_damage_s} }}
{{Infobox | Refire Rate | ${refire} }}
{{Infobox | Energy Usage/s | ${energy_usage} }}
{{Infobox | Projectile Velocity | ${projectile_velocity} }}
{{Infobox | Range | ${range} }}
{{Infobox | Efficiency | ${efficiency} }}
{{Infobox | FLStat Rating | ${flstat_rating} }}
{{Infobox/end}}

${infocard}

${availability}

[[Category: Weapons]][[Category: ${type}]]
