__NOTOC__
{{ShipInfoBox
|shipName=${name}
|imageName=${image}
|techColumn=${tech_column}
|shipClass=${ship_class}
|gunsTurrets=${gun_count} / ${turret_count}
|otherEquipment=${other}
|hullStrength=${hull}
|cargoSpace=${cargo}
|batteries=${batteries}
|nanobots=${bots}
|maxImpulseSpeed=${impulse}
|maxTurnSpeed=${turnrate}
|maxThrustSpeed=${max_thrust}
|maxCruiseSpeed=${max_cruise}
|powerOutput=${power_output}
|powerRecharge=${power_recharge}
|shipPrice=${hull_price}
|packagePrice=${package_price}
|mustUseMoors=${moors}
}}

${infocard}


== Hardpoints ==
${hardpoints}


== Purchase Includes ==
${includes}


== Availability ==
${sold_at}
${pob_recipes}

[[Category: Ships]]
${categories}