__NOTOC__
{{System
| name = ${name}
| nickname = ${nickname}
| description = ${infocard}
| government = ${government}
| region = ${region}
| neighbors = ${neighbors}
| lawful-factions = ${lawful_factions}
| trade-factions = ${trade_factions}
| unlawful-factions = ${unlawful_factions}
| suns = ${suns}
| planets = ${planets}
| stations = ${stations}
| fields = ${fields}
| mining-zones = ${mining_zones}
}}

= System Map =
----
${navmap}

= Areas of Interest =
----

== Nebulae ==

${nebulae}

== Asteroid Fields ==

${asteroids}

== Wrecks ==

${wrecks}

= Jump Gates/Holes =
----
${gates}